<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDoアプリ</title>
</head>
<body>

<h1>ToDoリスト</h1>

<form action="/add" method="post">
  <input type="text" name="title" placeholder="やることを入力">
  <button type="submit">追加</button>
</form>

<hr>

<ul>
  <li th:each="todo, stat : ${todos}">
	<form action="/toggle" method="post" style="display:inline;">
		<input type="hidden" name="index" th:value="${stat.index}">
	    <input type="checkbox" th:checked="${todo.completed}" onchange="this.form.submit()">
	</form>

	<span th:text="${todo.title}" th:style="${todo.completed} ? 'text-decoration: line-through;' : ''"></span>

	<form action="/updateProgress" method="post" style="display:inline;">
	    <input type="hidden" name="index" th:value="${stat.index}">
	    <input type="number" name="progress" th:value="${todo.progress}" min="0" max="100" style="width: 50px;"> %
	    <button type="submit">更新</button>
	</form>

	<form action="/delete" method="post" style="display:inline;">
	    <input type="hidden" name="index" th:value="${stat.index}">
	    <button type="submit">削除</button>
	</form>

  </li>
</ul>

</body>
</html>